<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반투명 유리 배경 효과</title>
    <link rel="stylesheet" href="./timer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./img/jquery.countdown.min.js"></script>
    <script src="./img/timer.js"></script>
</head>
<body>
<div class="spacer">&nbsp;</div>
<div class="timerwrap">
    <ul id="timer">
        <li>
            <span class="days">00</span>
            <p class="days_text">Days</p>
        </li>
        <li class="seperator">:</li>
        <li>
            <span class="hours">00</span>
            <p class="hours_text">Hours</p>
        </li>
        <li class="seperator">:</li>
        <li>
            <span class="minutes">00</span>
            <p class="minutes_text">Minutes</p>
        </li>
        <li class="seperator">:</li>
        <li>
            <span class="seconds">00</span>
            <p class="seconds_text">Seconds</p>
        </li>
    </ul>    
</div>
</body>
</html>